#feedbacks {
    .swiper-wrapper{
        align-items: center;
        height: auto !important;
    }
    .swiper {
        width: 100%;
        height: auto;
    }
    
    .swiper-slide {
        /* height: 750px !important; */
        display: flex;
        justify-content: center;
        background-position: center;
        background-size: cover;
    }

    .swiper-slide img {
        display: block;
        width: 100%;
    }
    .swiper-pagination{
        bottom: 0px !important;
    }
}